---
import * as message from "@paraglide/messages";
---

<div
  class="m-auto flex h-full flex-col justify-center gap-2 p-8 text-start align-middle"
>
  <h3 class="text-2xl font-bold">{message.introduction_title()}</h3>
  <span class="text-neutral-400"
    >{message.introduction_description()}
    <a
      href="https://i-car.cl/"
      class="underline hover:text-neutral-500 hover:dark:text-neutral-300"
      target="_blank">Icar</a
    >
  </span>
</div>
