---
import * as message from "@paraglide/messages";
---

<div>
  <h4>{message.resume_certifications_title()}</h4>
  <div>
    <h5>EF SET English Certificate (C2 Proficient)</h5>
    <p>EF Standard English Test (EF SET), 2024</p>
  </div>
</div>
