---
import * as message from "@paraglide/messages";
---

<div>
  <h2 class="text-2xl">📜 {message.resume_certifications_title()}</h2>
  <div class="mx-auto my-2 h-px w-full bg-neutral-300 dark:bg-neutral-600">
  </div>
  <div>
    <h3>EF SET English Certificate (C2 Proficient)</h3>
    <p>EF Standard English Test (EF SET), 2024</p>
  </div>
</div>
