---
import Tooltip from "../Tooltip/Tooltip.astro";

const { items, class: className } = Astro.props;
---

<div
  class:list={[className]}
  class="group/list relative flex w-full gap-4 overflow-hidden whitespace-nowrap py-10 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]"
>
  {
    [0, 1, 2].map(() => (
      <ul class="group-hover/list:animation-pause flex w-max animate-slide-left gap-4">
        {items.map(
          (item: {
            url: string;
            title: string;
            icon: string;
            className: string;
          }) => (
            <li
              class:list={[
                "flex h-16 items-center justify-center self-center rounded-2xl bg-neutral-300 bg-opacity-25 text-center align-middle dark:bg-neutral-800",
                item.className,
              ]}
            >
              <a
                href={item.url}
                class="group/item z-20 m-auto flex h-full w-full flex-row items-center justify-center"
                target="_blank"
                aria-label={`${item.title}`}
              >
                <Tooltip text={item.title}>
                  <div class="inline-block h-16 w-16 cursor-pointer content-center place-self-center rounded-2xl bg-neutral-300 bg-opacity-25 text-start align-middle dark:bg-neutral-800">
                    <span class="flex justify-center" set:html={item.icon} />
                  </div>
                </Tooltip>
              </a>
            </li>
          ),
        )}
      </ul>
    ))
  }
</div>
<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    .animation-pause {
      animation-play-state: paused;
    }
  }
</style>
