---
import Hyperlink from "astro/components/commons/Hyperlink/Hyperlink.astro";
---

<div class="flex flex-col p-4">
  <Hyperlink href="/" target="_self" class="self-center px-2">X</Hyperlink>
  <div class="m-8 min-h-[86vh] rounded-2xl border-2 border-neutral-600 p-8">
    asdasd
  </div>
</div>
