---
const { items } = Astro.props;
---

<div
  class="group relative inline-flex w-full flex-nowrap overflow-hidden whitespace-nowrap [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]"
>
  {
    [0, 1, 2].map((key) => (
      <ul class="flex animate-slide-left items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-2">
        {items.map((item: { icon: string; className: string }) => (
          <li
            set:html={item.icon}
            class:list={[
              "flex h-16 w-16 items-center justify-center rounded-2xl bg-neutral-300 bg-opacity-25 text-center align-middle dark:bg-neutral-800",
              item.className,
            ]}
            aria-hidden={key !== 0}
          />
        ))}
      </ul>
    ))
  }
</div>
