---
import Mail from "@icons/Mail.svg?raw";
---

<div class="p-4">
  <div
    class="flex h-12 w-12 items-center justify-center fill-neutral-700 text-center align-middle dark:fill-white"
    set:html={Mail}
  />
</div>
