---
import LanguageSwitcher from "../LanguageSwitcher/LanguageSwitcher.astro";
import ThemeButton from "@commons/ThemeButton/ThemeButton.astro";

const { elements } = Astro.props;
console.log("🚀 ~ elements:", elements);
---

<nav class="m-auto flex w-max flex-row gap-4">
  <div
    class="mx-auto max-w-7xl rounded-full bg-neutral-300 bg-opacity-45 py-0.5 dark:border-2 dark:border-neutral-600 dark:bg-neutral-950"
  >
    <div class="my-2 flex items-center">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="flex items-center gap-4 px-4">
        {
          elements.map((element) => (
            <a class="block cursor-pointer rounded-full px-2 py-2 text-base font-medium text-black transition-all hover:bg-white dark:text-white dark:hover:bg-neutral-800">
              {element.title}
            </a>
          ))
        }
      </div>
    </div>
    <div class="flex flex-row"></div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        {
          elements.map((element) => (
            <a
              href="#"
              class="block rounded-md bg-gray-800 px-3 py-2 text-base font-medium text-white"
            >
              {element.title}
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div
    class="dark:hover:bg-neutral-80 flex flex-row rounded-full bg-neutral-300 bg-opacity-45 px-4 py-0.5 dark:border-2 dark:border-neutral-600 dark:bg-neutral-950"
  >
    <div class="flex flex-col self-center rounded-full">
      <ThemeButton />
    </div>
    <div class="flex flex-col rounded-full">
      <LanguageSwitcher textSize="text-xl" />
    </div>
  </div>
</nav>
