---
import Card from "@commons/Card/Card.astro";

import { CONTENT } from "./constants";
---

<div class="grid grid-cols-6 grid-rows-5 gap-4">
  {
    CONTENT.map((content) => (
      <Card
        href={content.href}
        ariaLabel={content.ariaLabel}
        target={content.target}
        class:list={[content.class]}
      >
        {<content.render />}
      </Card>
    ))
  }
</div>
