---
import CarrouselIcons from "@commons/CarrouselIcons/CarrouselIcons.astro";
import Tag from "@commons/Tag/Tag.astro";

import { FRONTEND_STACK } from "./constants";
---

<div class="flex h-full flex-col content-start gap-4 p-4">
  <Tag color="blue" text="Frontend" class="self-start" />
  <CarrouselIcons items={FRONTEND_STACK} class="m-auto" />
</div>
