---
import Tag from "astro/components/commons/Tag/Tag.astro";

import Golang from "@images/icons/stack/backend/Golang.svg?raw";
import Tooltip from "astro/components/commons/Tooltip/Tooltip.astro";
---

<div class="flex w-full flex-col gap-4 p-4">
  <Tag text="Aprendiendo" class="self-start text-start" color="cyan" />

  <Tooltip>
    <span class="h-full w-full text-lg" set:html={Golang} />
  </Tooltip>
</div>
