---
import SunIcon from "./images/icons/sun.svg?raw";
import MoonIcon from "./images/icons/moon.svg?raw";
---

<label class="relative inline-block h-20 w-20">
  <input type="checkbox" />
  <span
    class="relative bottom-0 left-0 right-0 top-0 cursor-pointer bg-sky-400 transition-all"
  ></span>
</label>

<!--<button-->
<!--  type="button"-->
<!--  class="flex flex-row gap-8 rounded-full bg-amber-200 bg-opacity-70 p-1 dark:bg-sky-600 dark:bg-opacity-30"-->
<!--  id="theme-selector"-->
<!--&gt;-->
<!--  <svg-->
<!--    class="h-10 w-10 rounded-full bg-yellow-400 p-2 text-white dark:bg-transparent dark:text-transparent"-->
<!--    set:html={SunIcon}-->
<!--  />-->
<!--  <svg-->
<!--    class="h-10 w-10 rounded-full p-2 text-amber-200 text-transparent dark:bg-sky-400 dark:text-white"-->
<!--    set:html={MoonIcon}-->
<!--  />-->
<!--</button>-->
<script>
  document.getElementById("theme-selector")?.addEventListener("click", () => {
    if (localStorage.theme === "dark") {
      localStorage.theme = "light";
      document.documentElement.classList.remove("dark");
    } else {
      localStorage.theme = "dark";
      document.documentElement.classList.add("dark");
    }
  });
</script>
