---
import Tag from "@commons/Tag/Tag.astro";

import * as message from "@paraglide/messages";
---

<div class="flex h-full flex-col p-4">
  <Tag color="red" text={message.aboutMe_tag()} class="self-start" />
  <p class="my-4 text-start md:m-auto">
    {message.aboutMe_description()}
  </p>
</div>
