---
import Tag from "@commons/Tag/Tag.astro";
---

<div class="flex h-full flex-col gap-4 p-4">
  <Tag color="red" text="Sobre mí" class="self-start" />
  <p class="text-start">
    Me apasiona las nuevas tecnologias y aprender cosas nuevas, siempre buscando
    la forma de mejorar encontrando nuevos retos y aprendizajes.
  </p>
</div>
