---
import Tag from "@commons/Tag/Tag.astro";
---

<div class="flex h-full flex-col gap-4 p-4 text-center align-middle">
  <Tag color="red" text="Sobre mí" class="self-start" />
  <p class="m-auto">
    Me apasionan las nuevas tecnologías y busco constantemente nuevos retos y
    aprendizajes.
  </p>
</div>
