---
import Tag from "@commons/Tag/Tag.astro";
---

<div class="flex h-full flex-col p-4 text-center align-middle">
  <Tag color="gray" text="Sobre mí" class="self-start" />
  <p class="m-auto">
    Soy un apasionado de las nuevas tecnologías, constantemente en la búsqueda
    de desafíos y aprendizajes innovadores.
  </p>
</div>
