---
import ProfilePicture from "./images/picture/profile.svg?raw";
import ThemeSwitcher from "./components/ThemeSwitcher/ThemeSwitcher.astro";
---

<div class="flex h-full flex-col">
  <div class="w-32 rounded-full border-4 border-amber-100">
    <Fragment class="rounded-full" set:html={ProfilePicture} />
  </div>
  <h2 class="text-2xl font-bold">Ignacio Silva</h2>
  <p class="text-lg">Frontend developer</p>
  <p class="text-lg">Viña del mar, Chile</p>
  <div class="mt-auto">
    <ThemeSwitcher />
  </div>
</div>
