---
import * as message from "@paraglide/messages";
import { createExperienceList } from "astro/components/modules/HomePageModule/components/BentoBox/components/ExperienceSection/utils";

const EXPERIENCES = createExperienceList(message);
---

<div class="flex flex-col gap-2">
  <h2 class="text-2xl">💼 {message.resume_workExperience_title()}</h2>
  <div
    class=" h-px w-full  bg-neutral-300 dark:bg-neutral-600"
  >
  </div>
  <div class="flex flex-col">
    {
      EXPERIENCES.map((experience) => (
    <div class="relative pl-8 pb-4 group">
        <!-- Purple label -->
        <span class="font-medium text-2xl  mb-1 sm:mb-0">{experience.ROLE}</span>
        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
        <div class:list={["flex flex-row items-start mb-1",
        "group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 before:self-start before:-translate-x-1/2 before:translate-y-3",
        "after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-neutral-400 after:border-4 after:box-content after:border-neutral-400 after:rounded-full  after:-translate-x-1/2 after:translate-y-1.5",
        "sm:flex-row "]}
        >
            <div class=" flex flex-row gap-2  text-slate-900 dark:text-white">
              <p class="text-xl font-bold">{experience.COMPANY}</p>
              <p class="text-xl font-thin text-slate-400">({experience.DATE})</p>
            </div>
        </div>
        <!-- Content -->
        <div class="text-slate-500 dark:text-slate-300">Pretium lectus quam id leo. Urna et pharetra pharetra massa massa. Adipiscing enim eu neque aliquam vestibulum morbi blandit cursus risus.</div>
    </div>
      ))
    }
  </div>
</div>
