---
import * as message from "@paraglide/messages";
---

<div>
  <h4>{message.resume_education_title()}</h4>
  <div>
    <h5>{message.resume_education_grade()}</h5>
    <p>
      Pontificia Universidad Católica de Valparaíso ({
        message.resume_education_date
      })
    </p>
  </div>
</div>
