---
import { LANG } from "@constants/language";

import { languageTag, type AvailableLanguageTag } from "@paraglide/runtime";
import { switchLanguage } from "@utils/language";

const currentPath = `${Astro.url.pathname}`;
const lang = languageTag();
const switchLang =
  lang === LANG.ENGLISH ? `${LANG.SPANISH}` : `${LANG.ENGLISH}`;
const switchPathname = switchLanguage(
  currentPath,
  switchLang as AvailableLanguageTag,
);
---

<div class="flex">
  <button id="lang-switcher" class="m-auto">
    <div
      class="m-4 flex flex-row gap-2 rounded-xl p-4 text-center font-mono text-4xl"
    >
      <p
        class:list={[
          "-translate-y-2",
          `${lang === LANG.SPANISH && "font-thin text-neutral-400"} `,
        ]}
      >
        En
      </p>
      <p>/</p>
      <p
        class:list={[
          "translate-y-2",
          `${lang === LANG.ENGLISH && "font-thin text-neutral-400"}`,
        ]}
      >
        Es
      </p>
    </div>
  </button>
</div>
<script define:vars={{ switchPathname }}>
  document.getElementById("lang-switcher")?.addEventListener("click", () => {
    window.location.href = switchPathname;
  });
</script>
