---
//import Profile from "./components/Profile/Profile.astro";
import BentoBox from "./components/BentoBox/BentoBox.astro";
---

<div class="flex flex-col gap-8 sm:h-full sm:w-full sm:flex-row">
  <!-- <section class="flex basis-1/3">
    <Profile />
  </section> -->
  <section class="flex">
    <BentoBox />
  </section>
</div>
