---
import HyperLink from "@components/commons/Hyperlink/Hyperlink.astro";
import notFoundImage from "@images/images/404.svg?raw";

import * as message from "@paraglide/messages";
import { languageTag } from "@paraglide/runtime";
import { localizePathname } from "@utils/language";
---

<div
  class="flex h-screen flex-col items-center justify-center gap-8 p-4 text-center 2xl:mx-[20%]"
>
  <h1 class="text-4xl font-bold">{message.notFound_title()}</h1>
  <span class="ml-8" set:html={notFoundImage} />
  <p>
    {message.notFound_description()}
  </p>
  <HyperLink class="p-4" target="" href={localizePathname("/", languageTag())}>
    <span>{message.notFound_back}</span>
  </HyperLink>
</div>
