---
import Tag from "@components/commons/Tag/Tag.astro";
import Button from "../../../../../../commons/Button/Button.astro";
---

<div
  class="scrollbar dark:scrollbar flex h-full flex-col content-start gap-4 p-4 sm:overflow-auto"
>
  <Tag color="blue" text="Experiencia" class="self-start" />
  <ul class="flex flex-col gap-4">
    <li class="flex flex-row justify-between gap-4 border-b pb-4">
      <div class="flex flex-col items-start text-left">
        <span>Desarrollador Frontend</span>
        <span>iCar</span>
      </div>
      <div class="text-right">
        <span>2023 - Presente</span>
      </div>
    </li>
    <li class="flex flex-row justify-between gap-4 border-b pb-4">
      <div class="flex flex-col items-start text-left">
        <span>Desarrollador Frontend</span>
        <span>Jumpitt</span>
      </div>
      <div class="text-right">
        <span>2022 - 2023</span>
      </div>
    </li>
    <li class="flex flex-row justify-between gap-4">
      <div class="place flex flex-col items-start text-left">
        <span>Practica Desarrollador Fullstack</span>
        <span>Jumpitt</span>
      </div>
      <div class="text-right">
        <span>2021 - 2022</span>
      </div>
    </li>
  </ul>
  <Button class="mt-auto self-end"> Ver más </Button>
</div>
<style>
  /* Customize website's scrollbar like Mac OS
    Not supports in Firefox and IE */
  .scrollbar {
    overflow: auto;
  }

  /* total width */
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    z-index: 999999;
  }

  /* background of the scrollbar except button or resizer */
  .scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }

  /* scrollbar itself */
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
  }

  /* set button(top and bottom of the scrollbar) */
  .scrollbar::-webkit-scrollbar-button {
    display: none;
  }

  /* scrollbar when element is hovered */
  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #777;
  }

  /* scrollbar when scrollbar is hovered */
  .scrollbar::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 16px;
  }

  .scrollbar::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 16px;
  }
</style>
