---
import Gitlab from "@icons/Gitlab.svg?raw";
import Tag from "@commons/Tag/Tag.astro";
---

<div class="p-4">
  <div
    class="flex h-16 w-20 items-center justify-center self-center fill-white text-center"
    set:html={Gitlab}
  />
  <Tag color="orange" text="@isilva3" class="hidden self-center text-wrap" />
</div>
