---
import Hyperlink from "@commons/Hyperlink/Hyperlink.astro";
import Tag from "@components/commons/Tag/Tag.astro";

import { getI18N } from "@i18n/index";
const { currentLocale } = Astro;
const literals = getI18N(currentLocale);
---

<div class="flex h-full flex-col content-start gap-4 p-4">
  <Tag color="yellow" text={literals.EXPERIENCE.TAG} class="self-start" />
  <ul class="flex flex-col gap-4">
    {
      literals.EXPERIENCE.EXPERIENCES.map((experience, index) => (
        <li
          class:list={[
            "flex flex-row justify-between gap-4",
            `${index + 1 !== literals.EXPERIENCE.EXPERIENCES.length ? "border-b pb-4" : ""}`,
          ]}
        >
          <div class="flex flex-col items-start text-left">
            <span>{experience.ROLE}</span>
            <span>{experience.COMPANY}</span>
          </div>
          <div class="text-right">
            <span>{experience.DATE}</span>
          </div>
        </li>
      ))
    }
    <!-- <li class="flex flex-row justify-between gap-4 border-b pb-4">
      <div class="flex flex-col items-start text-left">
        <span>Desarrollador Frontend</span>
        <span>iCar</span>
      </div>
      <div class="text-right">
        <span>2023 - Presente</span>
      </div>
    </li>
    <li class="flex flex-row justify-between gap-4 border-b pb-4">
      <div class="flex flex-col items-start text-left">
        <span>Desarrollador Frontend</span>
        <span>Jumpitt</span>
      </div>
      <div class="text-right">
        <span>2022 - 2023</span>
      </div>
    </li>
    <li class="flex flex-row justify-between gap-4">
      <div class="place flex flex-col items-start text-left">
        <span>Practica Desarrollador Fullstack</span>
        <span>Jumpitt</span>
      </div>
      <div class="text-right">
        <span>2021 - 2022</span>
      </div>
    </li> -->
  </ul>
  <Hyperlink
    href="https://drive.google.com/file/d/1telAD0Y_XDWI_PbVo7OuO-jCZytGlJ5F/view?usp=sharing"
    target="_blank"
    class="mt-auto self-end"
  >
    Ver más
  </Hyperlink>
</div>
