---
const { text } = Astro.props;
---

<div
  class="group relative inline-block h-16 w-16 cursor-pointer content-center place-self-center rounded-2xl bg-neutral-300 bg-opacity-25 text-start align-middle dark:bg-neutral-800"
>
  <div
    class="absolute bottom-1 hidden w-full whitespace-nowrap pr-0.5 group-hover:block"
  >
    <div
      class="flex translate-y-full flex-col-reverse items-center justify-start"
    >
      <div
        class="cursor-default rounded-lg bg-white px-3 py-1 text-base text-neutral-800 shadow-md dark:bg-neutral-700 dark:text-white"
      >
        {text}
      </div>
      <div
        class="-mb-[1px] h-0 w-0 border-b-[8px] border-l-[12px] border-r-[12px] border-b-white border-l-transparent border-r-transparent dark:border-b-neutral-700"
      >
      </div>
    </div>
  </div>
  <slot />
</div>
