---
interface Props {
  title: string;
}
const { title } = Astro.props;

import { languageTag } from "../paraglide/runtime";
import { fade, ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang={languageTag()}>
  <head>
    <script>
      function themeSwitcher() {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          localStorage.theme = "dark";
          document.documentElement.classList.add();
          document.documentElement.classList.add("dark");
        } else {
          localStorage.theme = "light";
          document.documentElement.classList.remove("dark");
        }
      }
      themeSwitcher();
      document.addEventListener("astro:after-swap", themeSwitcher);
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Ignacio Silva portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="./images/profile.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    transition:animate={fade({ duration: "0.5s" })}
    class="bg-gray-200 text-zinc-900 dark:bg-neutral-950 dark:text-zinc-50"
  >
    <main class="font-sans">
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
<style>
  main {
    animation: fade-up 0.5s;
  }
  1 .dark {
    color-scheme: dark;
  }
</style>
