---
import * as message from "@paraglide/messages";
---

<div>
  <h4>{message.resume_personalInformation_title()}</h4>
  <div>
    <p>Viña del Mar, Chile</p>
    <p>+569 41205886</p>
    <p>ignacio.silva.e@gmail.com</p>
  </div>
</div>
